* {
    font-size: calc(10px + 1vmin);
    color: #282c34;
    font-weight: bold;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

path {
    color: #7dc4ff !important;
}

a {
    color: #7dc4ff !important;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 1.5em !important;
}

body {
    background-color: #444654;
    margin: 0;
}

p {
    margin: 0;
}